# -- Create your own .env at root level! --
# DEBUG
DOCKERIZED=true // Set to true when using container

# POSTGRES
POSTGRES_NAME=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PORT=5432
POSTGRES_HOST=db

# 42
CLIENT_ID=<your-client-id>
CLIENT_SECRET=<your-client-secret>
