.pooldiv {
    width: 100%;
    height: 100%;
}

/* Button Styles */
.game-button {
    background-color: #45f3ff;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 12px;
    transition-duration: 0.4s;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    outline: none; /* Remove default button focus */
}

.game-button:hover {
    background-color: #aae0e4;
    transform: scale(1.05); /* Scale button slightly on hover */
}

/* Layout Styles */
.row-game {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 800px; /*Adjust to your container width*/
}

.col-md-12 {
    flex: 0 0 100%; /* Full width for smaller screens */
}

.col-md-4 {
    flex: 0 0 33.33%; /* 3 columns per row for larger screens */
}

/* Text Styles */
h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ffffff;
}

.mshide {
    display: none;
}

.matchmaking {
    animation: pulse 1.5s infinite; /* Apply pulse animation */
}

/* Animation for Matchmaking */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.UI {
    width: 790px;
    height: 440px;
    position: fixed;
    pointer-events: none;
}

.top-right {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
}

.top-left {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
}

.image-row {
    position: absolute;
    top: 35px;
    left: 10px;
    display: flex;
}

.image-row img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
    object-position: left;
}

.image-row-2 {
    position: absolute;
    top: 35px;
    right: 10px;
    display: flex;
}

.image-row-2 img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
    object-position: left;
}

.progress-bar-background {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 200px;
    height: 20px;
    background-color: #ccc;
  }
  
  .progress-bar {
    height: 100%;
    width: 100%;
    background-color: #4CAF50;
    transition: width 0.1s ease;
  }

  /* Style for the list of matches */
#gameList {
    list-style-type: none;
    padding: 0;
}

/* Style for each match item */
#gameList li {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    background-color: black;
    display: flex;
    align-items: center;
}
/* Margin style for buttons */
.ml-2 {
    margin-left: 5px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px; 
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
}