*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav
{
    width: 70px;
    background-color: rgba(237, 176, 248, 0.636);
    overflow: hidden;
    transition: width .1s linear;
}

nav:hover
{
    width: 240px;
    overflow: visible;
    transition: width .1s linear;
}

ul:hover
{
    overflow: hidden;
    transition: width .1s linear;
}

li:hover
{
    background-color: lightskyblue;
}

.icons
{
    font-size: 2rem;
}

.opts
{
    font-family:"Verdana, Geneva, Tahoma, sans-serif";
}