django==5.0.1
asgiref==3.7.2
sqlparse==0.4.4
psycopg2-binary==2.9.9
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
drf-yasg==1.21.7
#Cors headers
django-cors-headers==4.3.1
# Image Handling
pillow==10.2.0
# Make request to 42 API
requests==2.31.0
#Monitoring
django-prometheus==2.3.1
#Websockets
daphne==4.1.0
channels==4.0.0