/* Button Styles */
.game-button {
    background-color: #45f3ff;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 12px;
    transition-duration: 0.4s;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    outline: none; /* Remove default button focus */
}

.game-button:hover {
    background-color: #aae0e4;
    transform: scale(1.05); /* Scale button slightly on hover */
}

/* Layout Styles */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 800px; /* Adjust to your container width */
}

.col-md-12 {
    flex: 0 0 100%; /* Full width for smaller screens */
}

.col-md-4 {
    flex: 0 0 33.33%; /* 3 columns per row for larger screens */
}

/* Text Styles */
h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ffffff;
}

/* Animation for Matchmaking */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.mshide {
    display: none;
}

.matchmaking {
    animation: pulse 1.5s infinite; /* Apply pulse animation */
}

/* Canvas Styles */
canvas {
    display: block;
    margin: 50px auto; /* Adjust margin as needed */
	align-content: center;
    border-radius: 10px;
	width: 700px;
	height: 350px;
}
